<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forcse2200">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Mytheme">
        <activity android:name=".Friends"></activity>
        <activity
            android:name=".Others_Shared_Calendar"
            android:parentActivityName=".Share_Page" />
        <activity
            android:name=".Sharing_Calendar"
            android:parentActivityName=".Share_Page" />
        <activity
            android:name=".Share_Page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EventEditing" />
        <activity
            android:name=".Calendar_Page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".updata_notes" />
        <activity android:name=".Edit_Note" />
        <activity android:name=".MainActivity" android:icon="@drawable/ic_baseline_home_24"/>
        <activity android:name=".profile_editing" />
        <activity
            android:name=".journal_page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".profile" />
        <activity android:name=".Register_form" />
        <activity android:name=".Login_form" />
        <activity android:name=".Splass_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>